<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-c94ogn9LaElawClhA2yJ8grKuuKCVtc</string>
	<key>GCM_SENDER_ID</key>
	<string>458017711560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ba.talentakademija.app</string>
	<key>PROJECT_ID</key>
	<string>hnta-fbf7a</string>
	<key>STORAGE_BUCKET</key>
	<string>hnta-fbf7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458017711560:ios:b36d82149c6a1e38b34cfd</string>
</dict>
</plist>